.header{
    position: fixed;
    width: 100px;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: box-shadow .4s;
}

.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    display: flex;
    column-gap: .5rem;
    align-items: center;
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}
.nav__logo-circle,
.nav__toggle{
    width: 32px;
    height: 32px;
    background-color: var(--black-color);
    color: var(--white-color);

}